/* Header */

/* Hero */

/* About */

/* Portfolio */

/* Footer */



body {
	font-family: 'Roboto', sans-serif;
}
.main-nav.dark, .main-nav {
	background-color: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.main-nav.dark .inner-nav ul>li>a:hover,
.main-nav.dark .inner-nav ul>li>a.active {
	color: #FFC92C;
	font-weight: 500;
}
.active {
	color: #FFC92C;
}
.inner-nav ul li a:hover,
.inner-nav ul li a.active {
	color: #FFC92C;
	text-decoration: none;
}
.greeting {
	font-weight: 900;
}
.intro {
	font-weight: 500;
}
a:hover {
	text-decoration: none;
}
.cta-btn-group {
	margin-top: 40px;
}
.btn-warning {
	color: #fff;
}
.btn-warning:hover,
.btn-outline-warning:hover {
	color: #fff;
}
.custom-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-top: 20px;
}
.custom-social-icons li {
  color: #777;
  display: inline-block;
  padding: 20px;
}
i.fa.fa-github,
i.fa.fa-linkedin {
  font-size: 40px;
}
section.small-section.bg-dark {
  margin-top: 80px;
}
.page-section {
  padding: 70px 0;
}
a.btn.btn-mod.btn-w.btn-medium.btn-round.btn-external {
  background-color: rgba(34,34,34, .9);
  color: #fff;
}
.skills-icon {
  width: 48px;
  height: 48px;
}
.scroll-down-icon {
	font-size: 45px;
	color: #FFC92C;
}
.jumbotron {
	padding-top: 250px;
}
h1.display-1 {
	margin-bottom: 10px;
}

/* PORTFOLIO SECTION */

.works-filter a.active {
	color: #FFC92C;
	font-weight: 500;
	cursor: default;
}
.works-filter a.active:hover {
	color: #FFC92C;
}
.portfolio-section {
	padding: 0;
}
.portfolio-card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.13);
	height: 450px;
	width: 375px;
	margin: 0;
	background: #fff;
}
.portfolio-card-img {
	width: 100%;
	height: 80%;
	background: #fff;
}
.portfolio-btn-group {
	margin: 0 auto;

}
.home-section {
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: contain;
}
.main-nav.dark .mobile-nav {
	background-color: transparent;
	border-color: transparent;
	color: #FFC92C;
}
.main-nav.dark .mobile-nav:hover,
.main-nav.dark .mobile-nav.active {
	color: #FFC92C;
}
.main-nav.dark .inner-nav ul>li>a {
	color: #fff;
}
.mobile-nav {
	border: none;
}
.mobile-on .desktop-nav ul {
	width: 100%;
	float: none;
	background: #fff;
	position: relative;
	overflow-x: hidden;
}
.mobile-nav .fa {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 21px;
	color: #FFC92C;
}
.portfolio-row {
	display: flex;
	flex-direction: row;
	margin: 20px 0px;
}
.skill-tab {
	text-align: center;
}
.skill-title {
	margin-top: 10px;
	color: #777;
}
.portfolio-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
.portfolio-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}
.works-filter {
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.4em;
	color: #555;
	cursor: default;
}
.page-section {
	padding: 70px 0;
	margin-bottom: 60px;
}
.portfolio-img {
	height: 450px;
	width: 375px;
}
.work-title {
	text-align: center;
	margin: 20px 0;
}

.portfolio-btn-group {
	margin: 0 auto 20px auto;
	padding: 50px 0 13px 0;
}

.about-section {
	margin: 0 auto;
	text-align: center;
}
.fa:hover {
	color: #FFC92C;
	transition: all .3s ease-in-out;
}


@media only screen and (min-width: 568px) {
	.about-section .h2 {
		font-size: 20px;
	}
}

@media only screen and (min-width: 768px ) and (max-width: 1198px) {
	.works-filter a {
		padding-left: 10px;
		padding-right: 10px;
		margin: 4px;
		width: 30%;
		font-size: 11px;
	}
	.portfolio-card {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.13);
		-webkit-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.13);
		height: 450px;
		width: 375px;
		margin: 0;
		background: #fff;
	}
	.portfolio-card-img {
		width: 100%;
		height: 40%;
		background: #fff;
	}
	.portfolio-btn-group {
		margin: 85px auto 0px auto;
		padding: 0px 0 0px 0;
	}
	.about-section {
		margin: 0 auto;
	}
	.about-section .h2 {
		font-size: 20px;
	}
}
