body {
	font-family: 'Roboto', sans-serif;
}
.main-nav.dark {
	background-color: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.main-nav.dark .inner-nav ul>li>a:hover,
.main-nav.dark .inner-nav ul>li>a.active {
	color: #FFC92C;
	font-weight: 500;
}
.active {
	/* color: #FFC92C; */
}
.greeting {
	font-weight: 900;
}
.intro {
	font-weight: 500;
}
a:hover {
	text-decoration: none;
}
.cta-btn-group {
	margin-top: 40px;
}
.btn-warning {
	color: #fff;
}
.btn-warning:hover,
.btn-outline-warning:hover {
	color: #fff;
}
.custom-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-top: 20px;
}
.custom-social-icons li {
  color: #777;
  display: inline-block;
  padding: 20px;
}
i.fa.fa-github,
i.fa.fa-linkedin {
  font-size: 40px;
}
section.small-section.bg-dark {
  margin-top: 80px;
}
.page-section {
  padding: 70px 0;
}
a.btn.btn-mod.btn-w.btn-medium.btn-round.btn-external {
  background-color: rgba(34,34,34, .9);
  color: #fff;
}
.skills-icon {
  width: 48px;
  height: 48px;
}
.scroll-down-icon {
	font-size: 30px;
	color: #FFC92C;
}
.jumbotron {
	padding-top: 250px;
}
h1.display-1 {
	margin-bottom: 10px;
}